<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoices</title>
</head>
<body>
    <h1>Invoices</h1>

    <!-- Button to Create New Invoice -->
    <a href="{{ url_for('create_invoice') }}">
        <button>Create New Invoice</button>
    </a>
    <table border="1">
        <thead>
            <tr>
                <th>Invoice Number</th>
                <th>Customer Name</th>
                <th>Invoice Date</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td><a href="{{ url_for('invoice_details', invoice_number=invoice['invoice_number']) }}">{{ invoice['invoice_number'] }}</a></td>
                <td>{{ invoice['customer_name'] }}</td>
                <td>{{ invoice['invoice_date'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% if page > 1 %}
        <a href="{{ url_for('index', page=page-1) }}">Previous</a>
        {% endif %}
        {% if page < total_pages %}
        <a href="{{ url_for('index', page=page+1) }}">Next</a>
        {% endif %}
    </div>
</body>
</html>
